



/*! header*/
/* Header */
body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
  }
  
  @keyframes dropHeader {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  body.active {
    overflow: hidden;
    z-index: -1;
  }
  
  .no-js header {
    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 0.75s;
  }
  
  header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
  }
  
  header ul {
    display: inline-block;
    background: #333;
    text-align: center;
    padding: 10px;
    margin: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  
  header li {
    display: inline-block;
  }
  
  header a {
    display: block;
    color: #fff;
    padding: 10px;
  }
  
  header a:hover {
    color: #217dbb;
    text-decoration: none;
    background: #eee;
    border-radius: 4px;
  }
  
  header a:focus {
    color: #3498db;
    text-decoration: none;
  }
  
  header.active {
    display: block;
  }
  
  header.sticky {
    position: fixed;
    z-index: 999;
  }
  
  #menu.active {
    display: block;
  }
  
  footer {
    padding: 50px 0;
  }
  
  .copyright {
    padding-top: 20px;
  }
  
  .top {
    text-align: center;
  }
  
  .top span {
    cursor: pointer;
    display: block;
    margin: 15px auto 0 auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid #b9bfc4;
    text-align: center;
  }
  
  .top i {
    color: #74808a;
  }
  
  .social {
    text-align: right;
  }
  
  .social ul {
    margin: 5px 0 0 0;
    padding: 0;
  }
  
  .social li {
    display: inline-block;
    font-size: 2.25em;
    list-style: none;
  }
  
  .social a {
    display: block;
    color: #74808a;
    padding: 10px;
  }
  
  .social a:hover {
    color: #3498db;
  }
  
  .btn-rounded-white {
    display: inline-block;
    color: #000;
    background: #f2f1f6;
    font-weight: 600;
    padding: 15px 35px;
    border: 1px solid #fff;
    border-radius: 30px;
    transition: 0.5s ease all;
  }
  
  .btn-rounded-white:hover {
    color: #3498db;
    background: #fff;
    text-decoration: none;
  }
  
  .heading {
    position: static;
    display: inline-block;
    font-size: 1em;
    font-weight: 300;
    margin: 0 0 30px 0;
  }
  
  .background-alt {
    background: #f2f2f5;
  }
  


/*! lead content part1*/
/* Lead content part1 */
#lead {
    position: relative;
    min-height: 300px;
    max-height: 900px;
    background-size: 50%;
    padding: 15px;
    overflow: hidden;
  }
  
  #lead-content {
    position: absolute;
    z-index: 10;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  #lead-content h1,
  #lead-content h2 {
    margin: 0;
  }
  
  #lead-content h1 {
    color: #fff;
    font-weight: 350;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1;
  }
  
  #lead-content h2 {
    color: #fff;
    font-weight: 200;
    font-size: 20px;
    margin-bottom: 80px;
  }
  
  #lead-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(22, 23, 24, 0.8);
    z-index: 1;
  }
  
  .socialneu {
    margin-right: 7.8%;
  }
  
  .socialneu li {
    display: inline-block;
    font-size: 25px;
    list-style: none;
  }
  
  .socialneu a {
    display: block;
    color: #fff;
    padding: 10px;
  }
  
  .socialneu a:hover {
    color: #3498db;
  }
  
/*! about*/
#about {
    padding: 90px 15px;
    border-bottom: 1px solid #dcd9d9;
    text-align: center;
  }
  
  #about h2 {
    color: #000;
    font-size: 50px;
    font-weight: 300;
  }
  
  #about p {
    color: #000;
    margin-left: 40px;
    text-align: center; /* This will override the previous text-align:center */
  }


/*Projects */

#projects {
    padding: 50px 15px;
    border-bottom: 1px solid #dcd9d9;
    text-align: center;
  }
  
  #projects h2 {
    color: #000;
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: 300;
  }
  
  .project {
    max-width: 1000px;
    margin: 0 auto 30px auto;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .project-image {
    float: left;
  }
  
  .project-info {
    padding: 15px;
  }
  
  .project-info h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: #000;
    margin: 0 0 15px 0;
  }
  
  .project-info h4 {
    font-size: 1em;
    font-weight: 300;
    color: #000;
    margin: 0 0 15px 0;
  }
  
  .project-info p {
    color: #000;
    margin: 0 0 15px 0;
    font-size: 0.9em;
  }

/*! Screen sizes*/

/* Common styles for all screen sizes */
#lead-content h1 {
    font-size: 3.5em;
}
#lead-content h2 {
    font-size: 1.3em;
}
#lead-content div {
    margin-right: 4.2%;
}

/* Styles for medium-sized screens (max-width: 1250px) */
@media only screen and (max-width: 1250px) {
    #lead {
        height: auto;
        min-height: auto;
        max-height: auto;
        padding: 100px 15px;
    }
    #lead-content {
        position: relative;
        transform: none;
        left: auto;
        top: auto;
    }
}

/* Styles for small screens (max-width: 768px) */
@media only screen and (max-width: 768px) {
    header {
        position: fixed;
        display: none;
        z-index: 999;
        animation: none;
        bottom: 0;
        height: 100%;
    }
    #mobile-menu-open, #mobile-menu-close {
        display: block;
    }
    #menu {
        height: 100%;
        overflow-y: auto;
        box-shadow: none;
        border-radius: 0;
        width: 100%;
    }
    #menu li {
        display: block;
        margin-bottom: 15px;
    }
}

/* Styles for extra small screens (max-width: 550px) */
@media only screen and (max-width: 550px) {
    #lead-content h1 {
        font-size: 2.3em;
    }
    #lead-content h2 {
        font-size: 0.8em;
    }
    #lead-content div {
        margin-right: 9%;
    }
    #lead-content div li {
        font-size: 20px;
    }
}

/* Styles for smallest screens (max-width: 425px) */
@media only screen and (max-width: 425px) {
    #lead-content h1 {
        font-size: 2em;
    }
    #lead-content h2 {
        font-size: 0.8em;
    }
    #lead-content div {
        margin-right: 10%;
        font-size: 15px;
    }
}